@let user = user$ | async;
@let isAdmin = isAdmin$ | async;

<mat-toolbar>
  <mat-toolbar-row>
    <nav>
      <a mat-button [routerLink]="RouteCalendar" routerLinkActive="active">Kalendar</a>
      @if (isAdmin) {
        <a mat-button [routerLink]="RouteAssignment" routerLinkActive="active">Zuweisung</a>
        <a mat-button [routerLink]="RouteUsers" routerLinkActive="active">Benutzer</a>
      }
    </nav>
    <span class="sd-flex-spacer"></span>
    <span class="sd-margin-left-wide sd-margin-right-wide">SchedDoc</span>
    @if (user) {
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>
          <mat-icon>person</mat-icon>
          <span>{{ user.displayName || user.email }}</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Ausloggen</span>
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon></button>
    }
  </mat-toolbar-row>
</mat-toolbar>

<div class="sd-space-container">
  <div class="sd-space-container-content">
    <router-outlet />
  </div>
</div>
