@let items = (users$ | async) ?? [];
@let selectedName = selectedName$ | async;

<div
  class="list sd-list-v sd-padding-default sd-gap-default"
  (mouseenter)="pointerInList = true"
  (mouseleave)="pointerInList = false"
  [class.show-name-only]="!!selectedName && !pointerInList"
>
  @if (!selectedName || pointerInList) {
    <h5 class="sd-text-ellipsis" [style.text-align]="'center'">Benutzer</h5>

    <cdk-virtual-scroll-viewport itemSize="50" class="sd-flex-spacer">
      <div
        *cdkVirtualFor="let item of items; trackBy: trackBy"
        class="list-item sd-list-item sd-border-radius"
        [routerLink]="item.id"
        routerLinkActive="active"
      >
        <div class="sd-list-item-content sd-bar-h sd-padding-narrow">
          <span class="sd-text-ellipsis">
            {{ item.name }}
          </span>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
    <div class="sd-bar-h sd-flex-end sd-padding-default sd-font-size-medium">
      <span>{{ items.length }}</span>
    </div>
  } @else {
    <div class="selected-name">
      <span>{{ selectedName }}</span>
    </div>
  }
</div>

<div class="sd-space-container">
  <div class="sd-space-container-content">
    <router-outlet />
  </div>
</div>
