table {
  margin: auto;

  tr {
    th,
    td {
      padding: 0.5rem 0.5rem;
      height: 1.5rem;
      vertical-align: bottom;
      width: 5rem;
      border-bottom: 1px solid transparent;

      mat-icon {
        vertical-align: bottom;
      }

      &.clickable {
        cursor: pointer;

        &:hover {
          background-color: var(--sd-color-hover);
        }
      }

      &:not(:last-child) {
        border-right: 1px solid var(--mat-sys-neutral10);
      }
    }

    td {
      &.day {
        font-family: monospace;
        min-width: 4.5rem;
        vertical-align: middle;
      }

      &.icon-only {
        text-align: center;
      }

      &.holiday,
      &.weekend {
        background-color: var(--sd-color-bg-weekend);
      }
    }

    &.sticky {
      position: sticky;
      top: 0;
      z-index: 1;
      background: var(--mat-sys-surface);
    }

    &:hover {
      th,
      td {
        border-bottom-color: var(--mat-sys-neutral10);
      }
    }
  }
}

@media (max-width: 500px) {
  table tr {
    th {
      writing-mode: vertical-rl;
      vertical-align: middle;
      height: auto;
    }
  }
}
