@let qualiToUsers = qualiToUsersMap();

<table cellSpacing="0">
  <tr class="sticky">
    <th class="day">Tag</th>
    @for (quali of qualifications; track quali) {
      <th>{{ qualificationsGerman[quali] }}</th>
    }
  </tr>
  @for (day of days; track $index) {
    @let holiday = day | toHoliday;
    @let weekend = day | isWeekend;
    @let workday = !holiday && !weekend;
    @let entries = dayEntryMap()[day] ?? [];

    <tr>
      <td class="day" [class.weekend]="weekend" [class.holiday]="!!holiday">
        <span>{{ day | date: 'dd ccc' }}</span>
        @if (holiday) {
          <mat-icon class="sd-margin-left-default" [matTooltip]="holiday">liquor</mat-icon>
        }
      </td>
      @for (quali of qualifications; track quali) {
        @let candidates = qualiToUsers[quali] | usersFilterByCalendars: entries;

        <td class="icon-only">
          @if (!candidates.length) {
            <mat-icon [style.color]="'var(--sd-color-warning)'">sentiment_very_dissatisfied</mat-icon>
          } @else {
            @let currentlyFrozenUser = candidates | findFrozenQualification: entries : quali;

            @if (workday && quali === DbUserQualification.ThirdService) {
              <span>-</span>
            } @else {
              <mat-form-field class="in-cell">
                <mat-select
                  [ngModel]="currentlyFrozenUser?.id"
                  (ngModelChange)="freeze(day, quali, $event ?? null)"
                  [disabled]="workday && quali === DbUserQualification.ThirdService"
                >
                  <mat-option [value]="undefined">-</mat-option>
                  @for (user of candidates; track $index) {
                    @let entry = user | userCalendar: entries;

                    <mat-option [value]="user.id">
                      {{ (user.name ?? '???') + ': ' + availabilitiesGerman[entry?.availability ?? DbUserAvailability.None] }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            }
          }
        </td>
      }
    </tr>
  }
</table>
