@let entries = dbEntries();

<table cellSpacing="0">
  <tr class="sticky">
    <th class="day">Tag</th>
    @for (avail of availabilities; track avail) {
      <th>{{ userAvailabilitiesGerman[avail] }}</th>
    }
  </tr>
  @for (day of days; track $index) {
    @let holiday = day | toHoliday;

    <tr>
      <td class="day" [class.weekend]="day | isWeekend" [class.holiday]="!!holiday">
        <span>{{ day | date: 'dd ccc' }}</span>
        @if (holiday) {
          <mat-icon class="sd-margin-left-default" [matTooltip]="holiday">liquor</mat-icon>
        }
      </td>
      @for (avail of availabilities; track avail) {
        @let entry = entries[day];

        <td
          class="icon-only"
          [class.clickable]="!entry?.frozen"
          (click)="!entry?.frozen ? setAvailability(day, avail === entry?.availability ? null : avail) : 0"
        >
          @if (entry) {
            @if (entry.availability === avail) {
              @if (entry.frozen) {
                <mat-icon>done_all</mat-icon>
              } @else {
                <mat-icon>check</mat-icon>
              }
            }
          } @else if (avail === DbUserAvailability.None) {
            <mat-icon>question_mark</mat-icon>
          }
        </td>
      }
    </tr>
  }
</table>
