@let selectedDate = selectedDate$ | async;
@let days = selectedDate | toMonthDays;
@let formValue = formValue$ | async;
@let users = users$ | async;

<div class="sd-padding-wide sd-list-v sd-gap-wide">
  <div class="sd-bar-h sd-gap-default" [style.align-self]="'center'">
    <mat-button-toggle-group name="Monat" [ngModel]="selectedDate" (ngModelChange)="setSelectedDate($event)">
      @for (dat of dates; track $index) {
        <mat-button-toggle [value]="dat">{{ dat | date: 'MMMM' }}</mat-button-toggle>
      }
    </mat-button-toggle-group>

    <button mat-mini-fab [disabled]="!!!(canReset$ | async)" (click)="reset()"><mat-icon>undo</mat-icon></button>
    <button mat-mini-fab [disabled]="!!!(canSave$ | async)" (click)="save()"><mat-icon>save</mat-icon></button>
    <button mat-mini-fab [disabled]="!formValue" (click)="download(days, formValue!, users)"><mat-icon>download</mat-icon></button>
  </div>

  <app-month-assignment
    [dateMonth]="selectedDate"
    [days]="days"
    [calendars]="formValue"
    [users]="users"
    (changeFreeze)="changeFreeze($event.day, $event.quali, $event.user)"
  />
</div>
