@use 'variables.scss';
@use 'native.scss';
@use 'layout.scss';
@use 'material.scss';

.sd-grid-repeat {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  column-gap: var(--sd-gap-wide);
  row-gap: var(--sd-gap-default);
  box-sizing: border-box;
}

.in-cell {
  &.mat-mdc-form-field {
    .mat-mdc-text-field-wrapper {
      background-color: transparent;

      .mdc-line-ripple::before {
        border-bottom-color: transparent;
      }
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}
